---
import type { IComponentData, IPageData } from '../../data/data';
import AstroRenderer from './AstroRenderer.astro'

interface Props {
	data?: IComponentData | IPageData;
	edit?: boolean
}

const { data, edit } = Astro.props;
---
<div style="position: fixed; top: 0; left: 0"></div>
{data && <AstroRenderer data={data} edit={edit}/>}