---
import type { IPageData } from '../data/data'
import TreeViewer from '../components/TreeViewer/TreeVIewer'
import './Layout.css'
import type { IPageInformation } from '../helpers/dataFetcher'

interface Props {
  data: IPageData
  pages: IPageInformation
  selectedPage: string
  edit?: boolean
}

const { edit, data, pages, selectedPage } = Astro.props

const bodyClassList = ['global'];

if (edit) {
  bodyClassList.push(...['editable'])
}


---
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body class={bodyClassList.join(' ')}>
    {edit && (
      <TreeViewer data={data} pages={pages} selectedPage={selectedPage} client:load/>
    )}
    <div class='main-lumina-content'>
      <slot/>
    <div>
  </body>
</html>

<script>
  import { $backofficeLayout } from '../store/main.ts';

  $backofficeLayout.subscribe(layout => {
    layout.menu.open ? document.body.classList.add('open') : document.body.classList.remove('open')
  })
</script>