---
import TreeViewer from '../components/TreeViewer/TreeVIewer'
import './Layout.css'

interface Props {
  edit?: boolean
}

const { edit } = Astro.props

const bodyClassList = ['global'];

if (edit) {
  bodyClassList.push(...['editable'])
}


---
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body class={bodyClassList.join(' ')}>
    {edit && (
      <TreeViewer client:load/>
    )}
    <div class='main-lumina-content'>
      <slot/>
    <div>
  </body>
</html>

<script>
  import { $backofficeLayout } from '../store/backofficeLayout.ts';

  $backofficeLayout.subscribe(layout => {
    layout.menu.open ? document.body.classList.add('open') : document.body.classList.remove('open')
  })
</script>